 :root {
  --main-color: #f82249;
  --sec-main-color: #060c22fa;
  --heading-color: #0e1b4d;
  --footer-background-color: #040919;
}
/* Component */
.container {
  width: 80%;
  margin: auto;
  z-index: 5;
  position: relative;
}
@media (max-width: 992px) {
  .container {
    width: 95%;
  }
  .header-btn {
    padding: 5px 10px !important;
  }
}
body::before{
  content: "";
  display: block;
  height: 63.7px;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
}
.btn {
  background-color: var(--main-color);
  color: white;
  border: 2px var(--main-color) solid;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 5px 15px;
  font-size: 15px;
  font-weight: 400;
  transition: 0.5s background-color;
  -webkit-transition: 0.5s background-color;
  -moz-transition: 0.5s background-color;
  -ms-transition: 0.5s background-color;
  -o-transition: 0.5s background-color;
}
.over-lay {
  width: 100%;
  background-color: hsla(228, 71%, 8%, 0.75);
  position: absolute;
  top: 0;
  bottom: 0;
}
section:not(.landing) {
  padding-top: 30px;
  padding-bottom: 30px;
}
.card{/* use in hotel section and buy ticket section */
  width: 32%;
  background-color: #fff;
}
@media (max-width: 996px) {
  .card{
    width: 49% !important;
    margin: 20px 0;
  }
}
@media (max-width: 767px) {
  .card{
    width: 94% !important;
    margin: 20px auto;
  }
}
/* -----------section heading----------- */
.section-header {
  text-align: center;
  position: relative;
  text-align: center;
  margin-bottom: 55px;
  padding-top: 25px;
  padding-bottom: 1px;
}
.h2 {
  color: var(--heading-color);
  font-size: 38px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}
.p {
  color: #9195a2;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}
.section-header::after {
  content: "";
  width: 60px;
  height: 5px;
  background-color: var(--main-color);
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}
/* General css style */
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
}
* {
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: "Open Sans", sans-serif;
}
/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 63.7px;
  min-width: 100%;
  z-index: 1000;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--sec-main-color);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
header .container .logo {
  height: 40px;
}
@media (max-width: 767px) {
  header .logo {
    height: 35px !important;
    padding: 5px;
  }
  .btn {
    font-size: 14px;
  }
  .landing h1,
  h1 span {
    font-size: 40px !important;
  }
  .landing .container p {
    font-size: 16px;
  }
  .list {
    margin-left: 5px !important;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header ul {
  margin: 0;
}
header ul li {
  display: inline-block;
  margin-left: 10px;
}
header ul li a {
  position: relative;
  padding: 15px 4px;
  padding-top: 5px;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  font-size: 14px;
  font-weight: 700;
}
.active {
  color: white;
}
header ul li a:hover {
  color: white;
}
header ul li a::after {
  content: "";
  background-color: var(--main-color);
  width: 0;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 2px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
header ul li a:hover::after {
  width: 100%;
}
.active::after {
  width: 100%;
}
.header-btn {
  margin-right: 15px;
  margin-left: 5px;
}
.header-btn:hover {
  background-color: transparent;
}
.list {
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
  margin-left: 25px;
}
.list:hover span:nth-child(2) {
  width: 30px;
}
.list > span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: white;
  transition: 0.3s width;
  -webkit-transition: 0.3s width;
  -moz-transition: 0.3s width;
  -ms-transition: 0.3s width;
  -o-transition: 0.3s width;
}
.list > span:nth-child(2) {
  width: 22px;
}
@media (max-width: 1300px) {
  header .container ul {
    padding: 0;
    margin: 0;
    width: 200px;
    position: absolute;
    right: -1%;
    top: 79%;
    opacity: 0.9;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
    display: none;
}
  .list:hover ~ ul,
  header ul:hover {
    display: block;
  }
  header ul li {
    display: block;
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
  }
  header ul li a {
    display: inline-block;
    position: relative;
    font-size: 18px;
    padding: 15px 20px;
    color: var(--sec-main-color) !important;
    width: 100%;
  }
  header ul li a:hover {
    padding-left: 40px;
    color: var(--main-color) !important;
  }
  header ul li a::after {
    display: inline-block;
    background-color: var(--sec-main-color);
    width: 90% !important;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 5%;
  }
  header ul li:last-child a::after {
    display: none !important;
  }
}
@media (min-width: 1300px) {
  .list {
    display: none;
  }
}
/* landing */
.landing {
  text-align: center;
  height: calc(100vh - 63.7px);
  color: white;
  background-color: var(--sec-main-color);
  background-image: url(../imges/hero-bg.jpg);
  background-attachment: fixed;
  position: relative;
}
.landing .container {
  z-index: 5;
}
.landing {
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing h1 {
  max-width: 100%;
  font-size: 55px;
  text-transform: uppercase;
  line-height: 1.4;
}
.landing p {
  max-width: 100%;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}
.landing h1 span {
  color: var(--main-color);
}
.landing .container .land-btn {
  padding: 8px 25px;
  background-color: transparent;
}
.landing .container .land-btn:hover {
  background-color: var(--main-color);
}
.landing .container .a-shape {
  width: 100px;
  height: 100px;
  margin: 40px auto;
}
.shape,.polygon,.a-shape {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.landing .container .shape {
  width: 100px;
  height: 100px;
  margin: 50px auto;
  background-color: hsla(0, 0%, 100%, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.shape::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  -moz-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  -o-transform: translate(-50%, -50%) rotate(90deg);
  border: 1px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: video 2s linear 1s infinite;
  -webkit-animation: video 2s linear 1s infinite;
}
.landing .container .polygon {
  width: 77px;
  height: 77px;
  background-color: var(--main-color);
  position: relative;
  /* transition-delay: 0.1s;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -ms-transition: .1s;
  -o-transition: .1s; */
}
.polygon:hover {
  width: 100px !important;
  height: 100px !important;
} 
@keyframes video {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 120px;
    height: 120px;
  }
}
.polygon::after ,.polygon_shape{
  clip-path: polygon(100% 50%, 0% 0%, 0% 100%);
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.polygon:hover:after {
  width: 250px;
  height: 250px;
  opacity: 0;
}
/* Start About */
.about {
  background-image: url(../imges/about-bg.jpg);
  background-attachment: fixed;
  position: relative;
}
.about * {
  color: white;
}
.about .container {
  display: flex;
  flex-wrap: wrap;
}
.about .container .part-1 {
  flex: 1;
  padding: 40px 20px 20px 0;
}
.about .part-1 h2 {
  max-width: 100%;
  font-size: 35px;
  margin: 0 0 20px 0;
}
.about .part-1 p {
  max-width: 100%;
  line-height: 1.6;
}
.about .part-1 h3 {
  margin: 0 0 20px 0;
}
.about .part-1 p {
  max-width: 100%;
  line-height: 1.6;
}
.about .container .part-2 {
  flex: 0.75;
  padding: 40px 20px 20px 0;
}
.about .container .part-2 h3 {
  margin-top: 0;
}
@media (max-width: 767px) {
  .about .container {
    flex-direction: column;
  }
  .about h2 {
    font-size: 30px;
  }
  .about p {
    font-size: 15px;
  }
  .about .part-2 {
    padding-top: 0px !important;
  }
}
/* Start Speakers */
.Speakers .part-2 .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 40px;
}
@media (max-width: 992px) {
  .Speakers .part-2 .container {
    grid-template-columns: repeat(auto-fill, minmax(262px, 1fr)) !important;
    gap: 25px !important;
    width: 90% !important;
  }
}
.Speakers .part-2 .container .img {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.Speakers .part-2 .container .img img {
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.Speakers .part-2 .container .details {
  background-color: rgba(6, 12, 34, 0.76);
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  bottom: 1px;
  width: 100%;
  text-align: center;
  color: white;
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
  -moz-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -o-transform: translateY(40px);
  transition: 0.3s transform;
  -webkit-transition: 0.3s transform;
  -moz-transition: 0.3s transform;
  -ms-transition: 0.3s transform;
  -o-transition: 0.3s transform;
}
.Speakers .part-2 .container .img:hover .details {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.Speakers .part-2 .container .details a {
  color: white;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.Speakers .part-2 .container .details a:hover {
  color: var(--main-color);
}
.Speakers .part-2 .container .details h3 {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
}
.Speakers .part-2 .container .details p {
  font-style: italic;
  margin: 10px auto 14px auto;
}
.Speakers .part-2 .container .details i {
  font-size: 16px;
  padding: 5px;
}
/* Start Schedule */
.Schedule {
  padding-bottom: 0 !important;
  background-color: #f6f7fd;
}
.Schedule .container .part-1 {
  text-align: center;
}
.Schedule .container .part-1 button {
  font-size: 20px;
  padding: 8px 80px;
  text-transform: capitalize;
  border-color: var(--heading-color);
  background-color: var(--heading-color);
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}
.Schedule .container .part-1 button:first-child {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.Schedule .container .part-1 p {
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-size: 20px;
  color: var(--heading-color);
  width: 85%;
  margin: 20px auto;
  line-height: 1.6;
}
@media (max-width: 767px) {
  .Schedule .container .part-1 p {
    font-size: 16px;
    width: 95%;
  }
  .Schedule .container .part-1 button {
    padding: 5px 60px;
    font-size: 16;
  }
}
.Schedule .container .part-2 > div {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px #cad4f6 solid;
  padding-top: 15px;
  padding-bottom: 15px;
}
.Schedule .container .part-2 > div:first-child {
  border-top: 1px #cad4f6 solid;
}
.Schedule .container .part-2 > div .item-1 {
  min-width: 120px;
  width: 12%;
}
.Schedule .container .part-2 > div .item-1 time {
  display: inline-block;
  padding: 18px;
  padding-bottom: 25px;
  padding-left: 0;
  font-weight: 300;
}
.Schedule .container .part-2 > div .item-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 633px;
  max-width: 100%;
}
.Schedule .container .part-2 > div .item-2 img {
  width: 65px;
  height: 65px;
  margin-right: 15px;
  margin-bottom: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.Schedule .container .part-2 > div .item-2 div h3 {
  margin: 0 auto;
  color: var(--heading-color);
  font-size: 20px;
  font-weight: 800;
  max-width: 100%;
}
.Schedule .container .part-2 > div .item-2 div h3 span {
  color: #19328e;
  font-size: 18px;
  font-weight: 400;
}
.Schedule .container .part-2 > div .item-2 div p {
  color: #152b79;
  max-width: 100%;
}
@media (max-width: 655px) {
  .Schedule .container .part-2 > div .item-2,
  .Schedule .container .part-2 > div {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .Schedule .container .part-2 > div .item-2 img {
    width: 120px;
    height: 120px;
    margin-bottom: 25px;
  }
  .Schedule .item-1 {
    display: block;
    min-width: 100% !important;
  }
  .Schedule time {
    font-size: 20px;
    font-weight: 500;
  }
}
/* Start Venue */
.venue .part-1 {
  display: flex;
  flex-wrap: wrap;
}
.venue .over-lay {
  background-color: hsla(228, 71%, 8%, 0.85);
}
.venue .part-1 iframe {
  width: 50%;
}
.venue .part-1 > div {
  position: relative;
  background-color: #19328e;
  background-image: url(../imges/venue-info-bg.jpg);
  color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.venue .part-1 .cont {
  width: 80%;
  padding: 40px 5px;
}
.venue .part-1 > div h3 {
  position: relative;
  z-index: 10;
  font-size: 38px;
  max-width: 100%;
  margin-bottom: 0;
}
.venue .part-1 > div p {
  position: relative;
  z-index: 10;
  line-height: 1.4;
  font-size: 16px;
  width: 90%;
  max-width: 100%;
}
@media (max-width: 1180px) {
  .venue .part-1 iframe,
  .venue .part-1 > div {
    width: 100%;
  }
  @media (max-width: 533px) {
    .venue h3 {
      font-size: 28px !important;
    }
  }
}

.venue .part-2 {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 3px));
  gap: 3px;
}
.venue .part-2 .img {
  cursor: pointer;
  overflow: hidden;
}
.venue .part-2 .img img {
  width: 100%;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.venue .part-2 img:hover {
  transform: scale(1.1, 1.1) rotate(3deg);
  -webkit-transform: scale(1.1, 1.1) rotate(3deg);
  -moz-transform: scale(1.1, 1.1) rotate(3deg);
  -ms-transform: scale(1.1, 1.1) rotate(3deg);
  -o-transform: scale(1.1, 1.1) rotate(3deg);
}
@media (max-width: 1200px) {
  .venue .part-2 {
    grid-template-columns: repeat(3, calc((100% / 3) - 3px)) !important;
  }
}
@media (max-width: 767px) {
  .venue .part-2 {
    grid-template-columns: repeat(2, calc((50%) - 3px)) !important;
  }
}
@media (max-width: 500px) {
  .venue .part-2 {
    grid-template-columns: 100% !important;
  }
}
/* Start Hotels */
.hotels {
  background-color: #f6f7fd;
  /* overflow: hidden; */
}
.hotels .part-1 .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hotels .part-1 .container >div{
  box-shadow: 0px 2px 5px 2px #eee;

}  
.hotels .part-1 > div .img {
  width: 100%;
  overflow: hidden;
}

.hotels .part-1 > div img {
  width: 100%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.hotels .part-1 > div img:hover {
  transform: rotate(2deg) scale(1.1, 1.1);
  -webkit-transform: rotate(2deg) scale(1.1, 1.1);
  -moz-transform: rotate(2deg) scale(1.1, 1.1);
  -ms-transform: rotate(2deg) scale(1.1, 1.1);
  -o-transform: rotate(2deg) scale(1.1, 1.1);
}
.hotels .part-1 > div .text {
  padding: 10px;
}
.hotels .part-1 > div .text h3 {
  margin: 5px 0;
}
.hotels .part-1 > div .text a {
  color: var(--heading-color);
  text-transform: capitalize;
  font-size: 20px;
  transition: 0.4s color;
  -webkit-transition: 0.4s color;
  -moz-transition: 0.4s color;
  -ms-transition: 0.4s color;
  -o-transition: 0.4s color;
}
.hotels .part-1 > div .text a:hover {
  color: var(--main-color);
}
.hotels .part-1 > div .text i {
  color: gold;
}
.hotels .part-1 > div .text p {
  letter-spacing: -0.5px;
  margin: 5px 0;
}
/* Start Gallery */
.gallery .part-1 {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery .part-1 .img {
  position: relative;
  width: 92%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.gallery .part-1 .img img {
  width: 19%;
  cursor: pointer;
}
.gallery .part-1 .img img:nth-child(3) {
  border: 5px var(--main-color) solid;
  padding: 4px;
  transform: scale(1.1, 1.111111);
  -webkit-transform: scale(1.1, 1.111111);
  -moz-transform: scale(1.1, 1.111111);
  -ms-transform: scale(1.1, 1.111111);
  -o-transform: scale(1.1, 1.111111);
  margin: 0 3px;
}
@media (max-width: 992px) {
  .gallery .part-1 > span {
    display: none !important;
  }
  .gallery .part-1 .img img:nth-child(1) {
    display: none;
  }
  .gallery .part-1 .img img {
    width: 23%;
  }
}
@media (max-width: 767px) {
    .gallery .part-1 .img img:nth-child(2),
    .gallery .part-1 .img img:nth-child(4),
    .gallery .part-1 .img img:nth-child(5){
    display: none;
  }
  .gallery .part-1 .img img {
    width: 100%;
  }
}
.gallery .part-1 > span {
  background-color: var(--sec-main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 60px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}
.gallery .part-1 > span i {
  font-size: 28px;
  color: #fff;
}
.gallery .part-2 {
  display: flex;
  justify-content: space-around;
  width: 200px;
  margin: auto;
  padding: 40px 0 20px 0;
}
.gallery .part-2 span {
  width: 15px;
  height: 15px;
  border: 1px var(--main-color) solid;

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.gallery .part-2 span:nth-child(5) {
  background-color: var(--main-color);
}
/* Start Sponsors */
.sponsors{
  background-color: #f6f7fd;
}
.sponsor-heading{
  margin-bottom: 10px;
}
.sponsors-img{
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(300px ,1fr));
}
.sponsors-img div{
  border: 0.1px solid #cad4f687;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.sponsors-img div:hover >img{
    transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
}
.sponsors-img img{
  width: 70%;
  transition: .6s;
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
  -o-transition: .6s;
}
@media (max-width:776px) {
.sponsors-img img{
  width: 60%;
}
}
/* Start newsletter */
.newsletter{
  background-color: #cad4f6;
  background-image: url(../imges/subscribe-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.newsletter .over-lay{
  background-color: rgba(6, 12, 34, 0.6);
}
.newsletter .container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.newsletter .container form{
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}
.newsletter .container form [type="email"]{
  width: 60%;
  min-width: 280px;
  height: 40px;
  padding: 10px;
  margin-right: 5px;
  border: 0;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
@media (max-width: 494px) {
  .newsletter .container form [type="email"]{
    margin-bottom: 15px;
  
  }
}
.newsletter .container form [type="email"]:focus{
  outline: 3px solid hsla(227, 100%, 59%, 0.459);
}
.newsletter .container form input.btn{
  font-size: 16px;
  padding: 10px 22px;
  transition: .3s background-color;
  -webkit-transition: .3s background-color;
  -moz-transition: .3s background-color;
  -ms-transition: .3s background-color;
  -o-transition: .3s background-color;
  cursor: pointer;
  border: 0;
}
.newsletter .container form input.btn:hover{
  background-color: rgb(219, 9, 9);
}
/* Start Buy Tickets */
.buy-tickets{
    background-color: #f6f7fd;  
}
.buy-tickets .part-1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
@media (min-width: 767px) {
  .buy-tickets .card{
    width: 32%!important;
  }
}
@media (max-width: 767px) {
  .buy-tickets .card{
    width: 49%!important;
  }
}
@media (max-width: 543px) {
  .buy-tickets .card{
    width: 94%!important;
    margin: 20px 0; 
  }
}
.buy-tickets .part-1 >div{
  padding:15px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: .5s;
  box-shadow: 0px 0px 30px 1px rgba(6, 12, 34, 0.042);
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}
.buy-tickets .part-1 >div:hover{
  box-shadow: 0px 10px 20px 1px rgba(6, 12, 34, .2);
}
.buy-tickets .part-1> div>div:first-child{
    padding-top: 10px;
}
.buy-tickets .part-1 .card p{
  color: #6c757d;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 15px 0;
}
.buy-tickets .part-1 .card h4{
  color: var(--heading-color);
  font-size: 50px;
  font-weight: 400;
  margin: 18px 0;
}
.buy-tickets .part-1 .card hr{
  border-top: .5px #cacacc;
}
.BuyTickets-ul{
    padding: 15px 0;
}
.buy-tickets .part-1 .card ul{
  text-align: left;
}
.buy-tickets .part-1 .card li{
  list-style-type: disc;
  margin-bottom: 20px;
  color: #2f3138;
}
.opacity{
  opacity: .5;
}
.buy-tickets .part-1 > div > div:last-child{
  padding: 20px ;
}
.buy-tickets .part-1 > div > div:last-child a{
  padding: 10px 40px;
  transition: .5;
  -webkit-transition: .5;
  -moz-transition: .5;
  -ms-transition: .5;
  -o-transition: .5;
  border: 0 ;
}
.buy-tickets .part-1 > div > div:last-child a:hover{
  background-color: rgb(219, 9, 9);
}
/* Start contact */
.contact .part-1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.contact .part-1 >div{
  padding: 20px;
}
.contact .card-2{
  border-width: 0px 1px;
  border-color: #ddd;
  border-style: solid;
}
@media (min-width: 767px) {
  .contact .card{
    width: 32%!important;
  }
}
@media (max-width: 767px) {
  .contact .card-2{
    border: 0;
}
}
.contact .part-1 i{
  color: var(--main-color);
  font-size: 50px;
}
.contact .part-1 h4{
  text-transform: uppercase;
  color: var(--heading-color);
  font-size: 18px;
  margin-bottom: 20px;
}
.contact .part-1 p{
  color: var(--heading-color);
}
.contact .part-1 a:hover{
  color: var(--main-color);
}
.contact .part-2{
  padding: 50px 0;
}  
.contact .part-2 input,.contact .part-2  textarea{
  padding: 10px;
  border: 1px solid #ced4da;  
  margin-bottom: 20px;
  max-width: 100%;
}
  .contact .part-2 form{
  display: flex;
  flex-direction: column;
}
.contact .part-2 form div{
  display: flex;
  justify-content: space-between;
}
.contact .part-2 form div input{
  width: 49.5%;
}
@media (max-width: 767px) {
  .contact .part-2 form div input{
    width: 100%;
  }
.contact .part-2 form div{
  flex-direction: column;
}}
.contact .part-2 form *:focus{
  outline: 0;
  border: 1px solid var(--main-color);
}
textarea{
  min-height: 150px;
  min-width: 100%;
}
.contact .part-2 .btn, .contact .part-2 .btn:focus{
  width: fit-content;
  padding: 14px 35px;
  border-radius: 35px;
  margin: auto;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}
.contact .part-2 .btn:hover{
  background-color: rgba(255, 0, 0, 0.9);
}
/* Start Footer */
footer{
  background-color: var(--footer-background-color);
}
footer .part-1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
  padding: 70px 0 30px 0;
}
footer .img, footer .links,footer .contact{
    margin-bottom: 30px;
}
footer .img{
  max-width: 100%;
}
footer .img img{
  width: 182px;
}
footer .img p{
  max-width: 100%;
  width: 650px;
  margin-top: 10px;
  line-height: 1.6;
}
footer .links{
    width: 270px;
    max-width: 100%!important;
    margin-right: 60px;
}
footer .head{
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--main-color);
}
footer .links ul{
  padding: 0;
}
footer .links li{
  border-bottom: 1px solid #262c44;
  padding: 14px;
}
footer .part-1  a{
  color: #fff;
  font-size: 15px;
  transition: .2s color;
  -webkit-transition: .2s color;
  -moz-transition: .2s color;
  -ms-transition: .2s color;
  -o-transition: .2s color;
}
footer .part-1 a:hover{
  color: var(--main-color);
}
footer .part-1 .contact p{
  margin-top: 20px;
  width: 225px;
  font-size: 14px;
  line-height: 1.9;
}
footer .part-1 .contact a{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width:  40px;
  height: 40px;
  margin-right: 10px;
  background-color: #222636;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
footer .part-1 .contact a i{
  font-size: 18px;
}
footer .part-2{
  background-color: #101522;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  color: #fff;
  text-align: center;
  line-height: 1.8;
}
footer .part-2 a{
  color: var(--main-color);
}






